@font-face {
  font-family: 'iconfont';  /* project id 1581933 */
  src: url('//at.alicdn.com/t/font_1581933_b785k98tte7.eot');
  src: url('//at.alicdn.com/t/font_1581933_b785k98tte7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1581933_b785k98tte7.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1581933_b785k98tte7.woff') format('woff'),
  url('//at.alicdn.com/t/font_1581933_b785k98tte7.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1581933_b785k98tte7.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


