@font-face {
  font-family: 'iconfont';  /* project id 1581933 */
  src: url('//at.alicdn.com/t/font_1581933_yuah3w8r0nk.eot');
  src: url('//at.alicdn.com/t/font_1581933_yuah3w8r0nk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1581933_yuah3w8r0nk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1581933_yuah3w8r0nk.woff') format('woff'),
  url('//at.alicdn.com/t/font_1581933_yuah3w8r0nk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1581933_yuah3w8r0nk.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfangdajing:before {
  content: "\e6e4";
}

.iconAa:before {
  content: "\e636";
}

.iconyumaobi:before {
  content: "\e616";
}

.zuanshi:before {
  content: "\e632";
}

